services:
  database:
    container_name: psql_kinme_db
    build:
      context: ./database
      args:
        POSTGRES_MAJOR: ${POSTGRES_MAJOR:-17}
    expose:
      - "5432" 
    volumes:
      # 1_create_table.sqlをコンテナ内のdocker-entrypoint-initdb.dに置くため
      - ./database/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./database/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
      - DATABASE_HOST=${DATABASE_HOST}
      - TZ=${TIMEZONE}
   # ports:
   #   - "5433:5432"
    restart: always #自動再起動をさせたくない場合にはコメントアウト

  app:
    container_name: psql_kinme_app
    build: ./app
    expose:
      - "3031"
    volumes:
      - ./app:/var/www/app
    depends_on:
      - database
    environment:
      - PSUSER=${POSTGRES_USER}
      - PSPASSWORD=${POSTGRES_PASSWORD}
      - PSDATABASE=${POSTGRES_DATABASE}
      - TZ=${TIMEZONE}
    command: uwsgi --ini /var/www/app/config/uwsgi.ini
    restart: always #自動再起動をさせたくない場合にはコメントアウト
    
  nginx:
    container_name: psql_kinme_nginx
    build: ./nginx
    volumes:
      - ./nginx/config/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
   # environment:
   #   - APP_PORT=3031
   #   - APP_SERVICE=psql_kinme_app
    ports:
      - "$PORT_NUM:80"
    restart: always #自動再起動をさせたくない場合にはコメントアウト
