services:
  app:
    container_name: psql_kinme_app
    build: ./app
    expose:
      - "3031"
    volumes:
      - ./app:/var/www/app
    environment:
      - DUCKDB_DATABASE=${DUCKDB_DATABASE}
      - TZ=${TIMEZONE}
    command: uwsgi --ini /var/www/app/config/uwsgi.ini
    restart: always #自動再起動をさせたくない場合にはコメントアウト

  nginx:
    container_name: psql_kinme_nginx
    build: ./nginx
    volumes:
      - ./nginx/config/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
   # environment:
   #   - APP_PORT=3031
   #   - APP_SERVICE=psql_kinme_app
    ports:
      - "$PORT_NUM:80"
    restart: always #自動再起動をさせたくない場合にはコメントアウト
